[user]
	name = Sam Metson
	email = sam.metson@gmail.com
[color]
	ui = true
	diff = auto
	status = auto
[alias]
	st = status -sb
	cm = commit --verbose
	pl = pull
	ps = push
	ch = checkout
	df = diff
	chp = cherry-pick
	dstat = diff --stat
	dfs = diff --staged
	sts = stash save
	stl = stash list
	stp = stash pop
	statch = stash --patch
	adp = add -p
	lg = log --decorate --stat --graph --pretty=format:'%C(yellow)%h%Creset (%ar - %Cred%an%Creset), %s%n'
	prune-all = !git remote | xargs -n 1 git remote prune
	conflicts = !git diff --name-only --diff-filter=U | xargs git status
[core]
	editor = vim
[push]
	default = simple
[merge]
	renamelimit = 1500
[status]
  relativePaths = false
