[user]
	name = Sam Metson
	email = sam.metson@gmail.com
[color]
	ui = true
	diff = auto
	status = auto
[alias]
	st = status -sb
	cm = commit --verbose
	pl = pull
	plr = pull --rebase
	ps = push
	ch = checkout
	df = diff
	chp = cherry-pick
	dstat = diff --stat
	dfs = diff --staged
	sts = stash save
	stl = stash list
	stp = stash pop
	stsh = !sh -c 'git show stash@{$1}' -
	statch = stash --patch
	adp = add -p
	lg = log --decorate --stat --graph --pretty=format:'%C(yellow)%h%Creset (%ar - %Cred%an%Creset), %s%n'
	prune-all = !git remote | xargs -n 1 git remote prune
	conflicts = !git diff --name-only --diff-filter=U | xargs git status
	pushup = !git push --set-upstream origin `git symbolic-ref --short HEAD`
	mgo = !git merge origin/`git symbolic-ref --short HEAD`
	msq = merge --squash
	rvt = revert
	rss = reset --soft
	rsm = reset --mixed
	rsh = reset --hard
	rshh = !sh -c 'git reset --hard HEAD~$1' -
	rsh1 = reset --hard HEAD~1
	rebae = rebase # ha
[core]
	editor = code --wait
	excludesfile = C:\\Users\\samm\\Documents\\gitignore_global.txt
	longpaths = true
[push]
	default = simple
[merge]
	renamelimit = 1500
[status]
	relativePaths = false
[diff]
    tool = code
[difftool "code"]
    cmd = code --wait --diff $LOCAL $REMOTE